@model OptionsModel

<form asp-action="OptionSelected">
    <p>Select in which problem you wanna help:</p>
    @Html.RadioButtonFor(m => m.Option,"geometry")Geometry<br/>
    @Html.RadioButtonFor(m => m.Option,"ohm")Ohm<br/>
    @Html.RadioButtonFor(m => m.Option,"svt")Svt<br/>
    
    <input class="btn" type="submit" value="Submit">
</form>
